@{ ViewData["Title"] = "kids"; }

<div id="content" style="margin-bottom: -275px;">
    <div>
        <div id="action-book">
            <a asp-action="Activity_Book" id="action-book1">Cartoons</a>
        </div>
        <div id="story-book">
            <a asp-action="Story_Book" id="story-book1">Mythical Books</a>
        </div>
        <div id="study-book">
            <a asp-action="Study_Book" id="study-book1">Study Books</a>
        </div>
    </div>

</div>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
